
ion-content.background{
    --background: url("/assets/image/pexels-photo-1793037.jpeg") 0 0/100% 100% no-repeat;
   
   
   }
   .birthday{
       position: absolute;
       bottom: 30;
       right: 20;
       color:white;
   }
   .from{
    position: absolute;
    bottom:45px;
    right: 20px;
    color:white;
}
   .dropleft{
    background-color:black;
}
ion-tabs{
    color:white;
}