<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Happy Birthday!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" no-scroll padding>
<div class= "birthday">
  <h1>Happy birthday Pfumie!</h1>
</div>
<div class= "from">
  <h1>from Penvah</h1>
</div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="dropleft">
      <ion-tab-button class="dropleft" tab="#">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-tab-button>
 
      <ion-tab-button class="dropleft" tab="#">
        <ion-icon name="radio-button-off"></ion-icon>
      </ion-tab-button>
 
      <ion-tab-button class="dropleft" tab="#">
        <ion-icon name="square-outline"></ion-icon>
      </ion-tab-button>
 
    </ion-tab-bar>
  </ion-tabs>
 
 </ion-content>